* {
  box-sizing: border-box;
}

html {
  font-size: 62,5%;
}

.header__title {
  font-size: 3em;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
}

.slider-wrapper {
  max-width: 30rem;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  display: flex;
  overflow: hidden;
}

.slider__list {
  display: flex;
  height: 100%;
  max-width: 30rem;
  transition: all cubic-bezier(0.39, 0.575, 0.565, 1);
}

.slider__item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 0 0 100%;
  background: #fff;
  overflow: hidden;
}

.slider__item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.item__descritption {
  margin: 0;
  transition: all cubic-bezier(0.68, -0.55, 0.265, 12.55);
}

.description-1 {
  transform: translateX(-100%);
}
.description-2 {
  transform: translateX(100%);
}
.description-3 {
  transform: translateX(-100%);
}
.description-4 {
  transform: translateX(100%);
}

.slider__pagination {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  max-width: 30rem;
  margin: 0 auto;
}

.slider__pagination-bullet {
  padding: 0.5rem;
}

.slider__pagination-bullet:hover {
  cursor: pointer;
}

.slider__pagination-bullet > div {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 2px solid #000;
}

#slide1:checked ~ .slider__pagination .pagination-bullet-1 {
  background-color: red;
}
#slide2:checked ~ .slider__pagination .pagination-bullet-2 {
  background-color: red;
}
#slide3:checked ~ .slider__pagination .pagination-bullet-3 {
  background-color: red;
}
#slide4:checked ~ .slider__pagination .pagination-bullet-4 {
  background-color: red;
}

#slide1:checked ~ .slider-wrapper .slider__list {
  transform: translateX(0%);
  transition: all 0.5s;
}
#slide1:checked ~ .slider-wrapper .description-1 {
  transform: translateX(0%);
  transition: all 1s;
}
#slide2:checked ~ .slider-wrapper .slider__list {
  transform: translateX(-100%);
  transition: all 0.5s;
}
#slide2:checked ~ .slider-wrapper .description-2 {
  transform: translateX(0%);
  transition: all 1s;
}
#slide3:checked ~ .slider-wrapper .slider__list {
  transform: translateX(-200%);
  transition: all 0.5s;
}
#slide3:checked ~ .slider-wrapper .description-3 {
  transform: translateX(0%);
  transition: all 1s;
}
#slide4:checked ~ .slider-wrapper .slider__list {
  transform: translateX(-300%);
  transition: all 0.5s;
}
#slide4:checked ~ .slider-wrapper .description-4 {
  transform: translateX(0%);
  transition: all 1s;
}

